{% extends 'base.html.twig' %}

{% block title %}New Rating{% endblock %}

{% block body %}
    <h1>Votre note</h1>

    {{ include('rating/_form.html.twig') }}

    <a href="{{ path('rating_index') }}"><button>Retour</button></a>
{% endblock %}
