{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin-left: 5vw;margin-top: 5vw max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>


{% if app.user and app.user.admin %}
<div class="example-wrapper">
    <h1>Bienvenue Administrateur</h1>
    <h3>Site fait par Augustin Colas et Romain Chagnaud</h3>
</div>
{% elseif app.user %}
<div class="example-wrapper">
    <h1>Bienvenue </h1>
    <h3>Site fait par Augustin Colas et Romain Chagnaud</h3>
</div>
{% else %}
<div class="example-wrapper">
    <h1>Bienvenue </h1>
    <h3>Site fait par Augustin Colas et Romain Chagnaud</h3>
    <h3>Inscriver vous svp je rends</h3>
</div>
{% endif %}

{% endblock %}
